
body{
    margin-top:20px;
    background:#ebeef0;
}

.img-sm {
    max-width: 100%;
}

.panel-body {
    padding: 25px 20px;
}

.mar-top {
    margin-top: 15px;
}

.no-pad {
    padding-right: 0;
}

.select-privacy {
    border: none;
    outline: none;
    width: 100px;
}